/* I want the box to expand > apply transition to the widht */

.mbox {
    height: 50px;
    width: 50px;
    border: 2px solid #000;
    margin-bottom: 15px;
}

.mbox:hover {
    color: #67daf9;
    border-color: #77ccd0;
    text-align: center;
    transition-property: width;
    width: 150px;
    transition-duration: 3s;
    /*transition-timing-function: ease-in-out;*/
    transition-property: height;
    height: 25px;
}

.box {
    background-color: #67daf9;
    height: 50px;
    width: 50px;
    border: 1px solid #77ccd0;
    transition-property: width, background-color;
    transition-duration: 2s;
}

.box:hover {
    width: 100px;
    background-color: #f7e285;
}

.enlace {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #67daf9;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

a:hover {
    color: #000000;
}

/*let's go with animations*/
.otherbox {
    background-color: orange;
    width: 150px;
    height: 0;
    animation-name: creciendo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes creciendo {
    from {
        height: 0;
    }
    to {
        height: 150px;
    }
}

.ball {
    background-color: orange;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation-name: jump;
    top: 0;
    position: relative;
    animation-duration: .5s;
    animation-direction: alternate infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jump {
    from {
        top: 0;
    }
    to {
        top: 100px;
    }
}

/* de cuadrado a circulo */
.cuadrado {
  background-color: #0799d3;
  width: 150px;
  height: 150px;
  animation: toCircle 1s 3 ease-in-out;
}

@keyframes toCircle {
  from {
    border-radius: 0;
  }

  to {
    border-radius: 100%;
  }
}
