/*transform property: move, scale, spin, skew, rotate, etc..., elements.*/
/*The first value in the CSS3 transformational functions is for the X-axis; the second is for the Y-axis.
If only one value is defined, it will be applied to both axes.*/

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 100px;
    /*transform: translate(200px, 200px);*/
    /*transform: rotate(20deg);*/
    transform: skewY(10deg);
    /*transform: scaleY(2.5);*/
}
