/*transform property: move, scale, spin, skew, rotate, etc..., elements.*/
/*The first value in the CSS3 transformational functions is for the X-axis; the second is for the Y-axis.
If only one value is defined, it will be applied to both axes.*/

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 100px;
    /*transform: translate(200px, 200px);*/
    /*transform: rotate(20deg);*/
    transform: skewY(10deg);
    /*transform: scaleY(2.5);*/
    /*Make an image double in size when you hover over it. Use a transition to make the transformation smooth. */
    transition-property: width, height;
    /*The transition should happen within 1 second, and the transition-timing-function should be set to ease-in.*/
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.box:hover {
    width: 200px;
    height: 200px; 
}

.rabbit {
    margin: 100px;
    transition: transform 1s ease;
}

.rabbit:hover {
    transform: translateX(100%);
}

/*img {*/
/*    width: 150px;*/
/*    height: 100px;*/
/*    transition-duration: 1s;*/
/*    transition-timing-function: ease-in;*/
/*}*/

/*img:hover {*/
/*    transform: scale(2)*/
/*}*/

/*img {*/
/*  animation: spinRabbit 1s infinite linear;*/
/*}*/

/*@keyframes spinRabbit {*/
/*  from {*/
/*    transform: rotate(0);*/
/*  }*/

/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/